@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap");
/* line 10, /Users/mfanjaud/Documents/GitHub/testUbiTransport/mfanjaud.github.io/style/style.scss */
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden; }

/* line 17, /Users/mfanjaud/Documents/GitHub/testUbiTransport/mfanjaud.github.io/style/style.scss */
body {
  align-items: center;
  background: #05386B;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  font: 14px 'Montserrat', sans-serif;
  justify-content: center;
  padding: 2em; }

/* line 28, /Users/mfanjaud/Documents/GitHub/testUbiTransport/mfanjaud.github.io/style/style.scss */
.calendar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100vh;
  justify-content: center;
  align-items: center; }
  /* line 37, /Users/mfanjaud/Documents/GitHub/testUbiTransport/mfanjaud.github.io/style/style.scss */
  .calendar .calendar-nav {
    display: flex;
    margin-bottom: 30px; }
    /* line 41, /Users/mfanjaud/Documents/GitHub/testUbiTransport/mfanjaud.github.io/style/style.scss */
    .calendar .calendar-nav button {
      background: transparent;
      font-size: 20px;
      border: 0;
      color: #fff;
      margin: 0 10px;
      outline: 0;
      cursor: pointer; }
      /* line 50, /Users/mfanjaud/Documents/GitHub/testUbiTransport/mfanjaud.github.io/style/style.scss */
      .calendar .calendar-nav button:hover {
        color: #fa255e; }
    /* line 57, /Users/mfanjaud/Documents/GitHub/testUbiTransport/mfanjaud.github.io/style/style.scss */
    .calendar .calendar-nav select {
      background-color: #fff;
      border: thin solid blue;
      border-radius: 4px;
      display: inline-block;
      font: inherit;
      line-height: 1.5em;
      padding: 0.5em 3.5em 0.5em 1em;
      margin: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
      background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
      background-size: 5px 5px, 5px 5px, 1px 1.5em;
      background-repeat: no-repeat; }
      /* line 86, /Users/mfanjaud/Documents/GitHub/testUbiTransport/mfanjaud.github.io/style/style.scss */
      .calendar .calendar-nav select:focus {
        background-image: linear-gradient(45deg, #fa255e 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #fa255e 50%), linear-gradient(to right, #ccc, #ccc);
        background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
        border-color: green;
        outline: 0; }
  /* line 111, /Users/mfanjaud/Documents/GitHub/testUbiTransport/mfanjaud.github.io/style/style.scss */
  .calendar .calendar-header,
  .calendar .calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-width: 500px;
    width: 100%;
    color: white;
    padding: 0; }
    /* line 120, /Users/mfanjaud/Documents/GitHub/testUbiTransport/mfanjaud.github.io/style/style.scss */
    .calendar .calendar-header > *,
    .calendar .calendar-body > * {
      align-items: center;
      display: flex;
      justify-content: center; }
  /* line 129, /Users/mfanjaud/Documents/GitHub/testUbiTransport/mfanjaud.github.io/style/style.scss */
  .calendar .calendar-header > * {
    color: #3feee6;
    font-weight: 600;
    font-size: 20px; }
  /* line 139, /Users/mfanjaud/Documents/GitHub/testUbiTransport/mfanjaud.github.io/style/style.scss */
  .calendar .calendar-body > * {
    border-radius: 100%;
    cursor: pointer;
    position: relative; }
    /* line 145, /Users/mfanjaud/Documents/GitHub/testUbiTransport/mfanjaud.github.io/style/style.scss */
    .calendar .calendar-body > *::before {
      content: "";
      display: inline-block;
      height: 0;
      padding-bottom: 100%;
      width: 1px; }
    /* line 153, /Users/mfanjaud/Documents/GitHub/testUbiTransport/mfanjaud.github.io/style/style.scss */
    .calendar .calendar-body > *.today {
      font-weight: 600;
      color: #fa255e; }
    /* line 158, /Users/mfanjaud/Documents/GitHub/testUbiTransport/mfanjaud.github.io/style/style.scss */
    .calendar .calendar-body > *:hover {
      border: 2px solid #fff; }
    /* line 162, /Users/mfanjaud/Documents/GitHub/testUbiTransport/mfanjaud.github.io/style/style.scss */
    .calendar .calendar-body > *.selected {
      font-weight: 600;
      background: #fa255e;
      border-radius: 100%;
      border: 2px solid #fa255e;
      box-shadow: inset 0px 0px 0px 5px #05386B;
      position: relative; }
      /* line 172, /Users/mfanjaud/Documents/GitHub/testUbiTransport/mfanjaud.github.io/style/style.scss */
      .calendar .calendar-body > *.selected::after {
        content: "";
        position: absolute;
        border-radius: 100%;
        height: 100%;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(250, 37, 94, 0.5), 0 6px 20px 0 rgba(250, 37, 94, 0.5); }
      /* line 181, /Users/mfanjaud/Documents/GitHub/testUbiTransport/mfanjaud.github.io/style/style.scss */
      .calendar .calendar-body > *.selected.today {
        background: #fff;
        border: 2px solid #fff; }
        /* line 185, /Users/mfanjaud/Documents/GitHub/testUbiTransport/mfanjaud.github.io/style/style.scss */
        .calendar .calendar-body > *.selected.today::after {
          box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5), 0 6px 20px 0 rgba(255, 255, 255, 0.5); }
      /* line 190, /Users/mfanjaud/Documents/GitHub/testUbiTransport/mfanjaud.github.io/style/style.scss */
      .calendar .calendar-body > *.selected:hover {
        background: #05386B; }
    /* line 195, /Users/mfanjaud/Documents/GitHub/testUbiTransport/mfanjaud.github.io/style/style.scss */
    .calendar .calendar-body > * > span {
      width: 100%;
      height: 60px;
      line-height: 60px;
      text-align: center;
      z-index: 1; }
    /* line 203, /Users/mfanjaud/Documents/GitHub/testUbiTransport/mfanjaud.github.io/style/style.scss */
    .calendar .calendar-body > * .popover {
      display: none;
      position: absolute;
      top: -40%;
      width: 150px;
      height: 40px;
      background: #fff;
      border-radius: 10px;
      z-index: 0; }
      /* line 213, /Users/mfanjaud/Documents/GitHub/testUbiTransport/mfanjaud.github.io/style/style.scss */
      .calendar .calendar-body > * .popover::after {
        content: '';
        position: absolute;
        top: 35px;
        left: 65px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #fff; }
      /* line 225, /Users/mfanjaud/Documents/GitHub/testUbiTransport/mfanjaud.github.io/style/style.scss */
      .calendar .calendar-body > * .popover.show {
        display: flex;
        align-items: center; }
      /* line 232, /Users/mfanjaud/Documents/GitHub/testUbiTransport/mfanjaud.github.io/style/style.scss */
      .calendar .calendar-body > * .popover button {
        margin: auto;
        border: 0;
        background: transparent;
        cursor: pointer;
        font-family: inherit;
        outline: 0; }
        /* line 240, /Users/mfanjaud/Documents/GitHub/testUbiTransport/mfanjaud.github.io/style/style.scss */
        .calendar .calendar-body > * .popover button:hover {
          color: #fa255e; }
  /* line 248, /Users/mfanjaud/Documents/GitHub/testUbiTransport/mfanjaud.github.io/style/style.scss */
  .calendar .deselect {
    display: block;
    margin: 10px auto;
    background-color: #fff;
    border: thin solid blue;
    border-radius: 4px;
    font: inherit;
    line-height: 25px; }

/*# sourceMappingURL=style.css.map */